<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=servername%> - 오류 메시지</title>
</head>

<body>
<h1>오류가 발생했습니다!</h1>
<h2><%-query.message%></h2>
<h3><a href="/">메인으로 돌아가기</a></h3>
</body>
</html>